<div class="container text-center">
    <h1 class="text text-danger mb-3">Toy Supermarket</h1>
    <a href="/toy/" class="btn btn-outline-primary">Toy Site</a>
    <a href="/order/" class="btn btn-outline-success">Order Site</a>
</div>
